.hidden {
  display: none;
}

.item-price {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 600;
}

.planet-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}